.buscar{
    display: inline-block;
    text-align: center;
    margin: 5vh 5vw;
    width: calc(100% - 10vw);
}
.buscar input{
    border-radius: 5px;
    font-size: x-large;
    height: 30px;
    padding: 1px;
    width: calc(100% - 25% - 1px);
}
.buscar button{
    width: calc(20% - 10px );
    margin-left: 5px;
    height: 35px;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
}
/*  _____________________________
    |    PUBLICACION PERSON      |
    |____________________________| */

.content-publiperson{
    margin: 10px auto;
    width: 100%;

}
.publiperson{
    display: inline-table;
    width: calc(33% - 38px);
    margin: 25px 15px;
    max-height: 440px;
    border: 3px double whitesmoke;
    border-radius: 10px;
    background-color: #be93c54f;
    transition: 0.5s ;
}
.publiperson:hover{
    transform: translateY(-4px);
    box-shadow: 0 1px 14px  2px rgb(0, 0, 0, .15);
    background-color: #c2bebe4f;
  }

.container-user{
    width: 100%;
}

.imgerson{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 10px 15px;
    border: 3px solid white;
    display: inline-flex;

}
.nameuser{
    width: 110px;
    height: 40px;
    display: inline-block;
    text-align: center;
    padding: 2px;
    
}

.publiperson button{
    color: aliceblue;
    font-size: 15px;
    border: 1px double rgba(0, 0, 0, 0.671);
    background: #76767659;
    transition: 0.5s;
    border-radius: 10px;

}
.publiperson button:hover{
    background-color: #76767649;
    font-size: 17px;

}

.subtitler ,.description {
    display: inline-block;    
    margin: 10px;
}

.description{
    margin: auto 10px;
    width: calc(100% - 20px);
    height: 160px;
    display: block;
}

@media screen and (max-width:1200px) {
    .buscar{
        margin: 5vh 5vw;
        width: calc(100% - 10vw);
        height: 30%;
        padding: 0px;
        justify-content: center;
        align-items: center;
    }

    .description{
        height: 140px;
    }
    
  }

@media screen and (min-width:740px) {
    .description{
        height: 170px;
    }
    
  }

@media screen and (max-width:640px) {
    .buscar input {
        width:calc(100% - 1px) ;
    }
    .buscar button {
        width:calc(50% - 1px) ;
        margin-top: 1%;
    }
    .publiperson {
        width: calc(50% - 38px);
        margin: 10px 15px;
    }
    
  }
@media screen and (max-width:440px) {
    .publiperson {
        width: calc(100% - 30px);
    }
    
  }
