<!-- //registrarse -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">s
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    <script src="..\js\bootstrap.js"></script>   
    <link rel="stylesheet" href="..\css\bootstrap.css">
    <link rel="stylesheet" href="..\css\fondo.css">
</head>
<body  class="found">
    
   <div>
        <h1 class=" mt-5 container list-group-item list-group-item-info text-center"  >Registrarse</h1>
        <form action="" method="post">
            <div class=" container list-group-item list-group-item-info text-center" >
                <div class="txt-centetr">
                    <label for="">Nombre</label>
                    <br>
                    <input type="text" name="name" id="name" required>
                </div>
                <br>
                <div>
                    <label for="">Apellido</label>
                    <br>
                    <input type="text" name="Lname" id="Lname" required>
                </div>
                <br>
                <div>
                    <label for="">Nombre de Usuario</label>
                    <br>
                    <input type="text" name="nameUser" id="nameUser" required >
                </div>
                <br>
                <div>
                    <label for="">Correo</label>
                    <br>
                    <input type="email" name="email" id="email" required  placeholder="nombre@dominio.com">
                </div>
                <br>
                <div>
                    <label for="">Contraseña</label>
                    <br>
                    <input type="password" name="password" id="password" required>
                </div>
                <br>
                <div>
                    <label for="">Repetir la Contraseña</label>
                    <br>
                    <input type="password" name="Rpassword" id="Rpassword" required>
                </div>
                <br>
                <input type="submit" value="Registrarse" class="btn btn-outline-info" required>
            </div>
        </form>
  
   </div>
    
</body>
</html>