<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="..\css\perfil.css">
    <link rel="stylesheet" href="..\css\menu.css">
    <link rel="stylesheet" href="..\css\publication.css"> 
    <link rel="stylesheet" href="..\css\fondo.css"> 
    <script src="https://kit.fontawesome.com/42664e8c9a.js" crossorigin="anonymous"></script>
</head>
<body class="found">
    <header>
        <div  id="header">
            <ul class="nav ">
                <li><a href="feed.html">Inicio <i class="fas fa-home"></i></a></li>
                <li><a href="userconfiguration.html">Configuración <i class="fas fa-users-cog"></i></a></li>
                <li><a href="profile.html">Perfil <i class="fas fa-user"></i></a></li>
                <li><a href="publication.html">Publicación <i class="far fa-plus-square"></i></a></li>
                <li><a href="http://">Mensaje <i class="far fa-comments"></i></a></li>
                <li><a href="#">Buscar <i class="fas fa-search"></i></a>
                    <ul>
                        <li><a href="searchperson.html">Usuario</a></li>
                        <li><a href="searchpublication.html">Publicación</a></li>
                    </ul>
                </li>
                <li><a href="http://">Cerrar sesión  <i class="fas fa-power-off"></i></a></i></li>
            </ul>
        </div>
    </header >
    <br>
    <!-- 
        |------------------perfil de usuario---------------------|
     -->
    <section class="perfil-usuario">
        <div class="contenedor-perfil">
            <div class="portada-perfil" >
                <div class="sombra"></div>
                <div class="avatar-perfil">
                    <img src="..\img\user.jpg" alt="imagen usuario">
                    <a href="userconfiguration.html" class="cambiar-foto">
                        <span>Cambiar foto</span>
                    </a>
                </div>
                <div class="datos-perfil">
                    <h4 class="titulo-usuario">Nombre de usuario</h4>
                    <p class="bio-usuario">Lorem ipsum dolor sit, amet consectetur adipisicing.</p>
                </div>
            </div>
            <div class="menu-perfil">
                <ul>
                    <li><a href="#" title=""> # Publicaciones</a></li>
                    <li><a href="#" title=""> # Seguidores</a></li>
                    <li><a href="#" title=""> # Seguidos</a></li>
                    <li><a href="userconfiguration.html">configurar Perfil</a></li>
                </ul>
            </div>
        </div>
    </section>
    <br>

        <!-- 
        ____________________________________________________
        |                  publicacion                      |
        |___________________________________________________|
     -->
        <section class="post-list">
            <div class="content">
                <article class="post">
                    <div>
                        <img class="img-user" src="..\img\user.jpg" alt="">
                        <h3>nom usu</h3>
                    </div>
                    <div class="post-header">
    
                        <div class="post-img">
                        </div>
                    </div>
                    <div class="post-body">
                        <br>
                        <div class="info-menu">
                           <ul>
                               <li><a href="#" ><i class="far fa-heart"></i></a></li>
                               <li><a href="#"><i class="far fa-comment-dots"></i> </a></li>
                               <li>
                                <a href="#" ><i class="fas fa-ellipsis-v"></i></a> 
                                    <ul >
                                        <li><a href="#" >eliminar publicacion</a></li>
                                        <li><a href="#" >editar publicacion</a></li>
                                    </ul>
                                
                               </li>
                           </ul> 
                                
                        </div>
                        <samp>fecha</samp>
                        <h3>Titulo</h3>
                        <p>Descripción  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam blanditiis numquam, similique dignissimos suscipit nulla ipsum illum nihil voluptatibus. Quibusdam exercitationem facere accusamus ex dolores. Vero aperiam ipsam saepe nihil!</p>
                        <a class="post-link" href="http://"  rel="noopener noreferrer"><link rel="stylesheet" href=""></a>
                    </div>
                </article>
            </div>
        </section>
        <section class="post-list">
            <div class="content">
                <article class="post">
                    <div>
                        <img class="img-user" src="..\img\user.jpg" alt="">
                        <h3>nom usu</h3>
                    </div>
                    <div class="post-header">
    
                        <div class="post-img">
                        </div>
                    </div>
                    <div class="post-body">
                        <br>
                        <div class="info-menu">
                           <ul>
                               <li><a href="#" ><i class="far fa-heart"></i></a></li>
                               <li><a href="#"><i class="far fa-comment-dots"></i> </a></li>
                               <li>
                                <a href="#" ><i class="fas fa-ellipsis-v"></i></a> 
                                    <ul >
                                        <li><a href="#" >eliminar publicacion</a></li>
                                        <li><a href="#" >editar publicacion</a></li>
                                    </ul>
                                
                               </li>
                           </ul> 
                                
                        </div>
                        <samp>fecha</samp>
                        <h3>Titulo</h3>
                        <p>Descripción  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam blanditiis numquam, similique dignissimos suscipit nulla ipsum illum nihil voluptatibus. Quibusdam exercitationem facere accusamus ex dolores. Vero aperiam ipsam saepe nihil!</p>
                        <a class="post-link" href="http://"  rel="noopener noreferrer"><link rel="stylesheet" href=""></a>
                    </div>
                </article>
            </div>
        </section>
        <section class="post-list">
            <div class="content">
                <article class="post">
                    <div>
                        <img class="img-user" src="..\img\user.jpg" alt="">
                        <h3>nom usu</h3>
                    </div>
                    <div class="post-header">
    
                        <div class="post-img">
                        </div>
                    </div>
                    <div class="post-body">
                        <br>
                        <div class="info-menu">
                           <ul>
                               <li><a href="#" ><i class="far fa-heart"></i></a></li>
                               <li><a href="#"><i class="far fa-comment-dots"></i> </a></li>
                               <li>
                                <a href="#" ><i class="fas fa-ellipsis-v"></i></a> 
                                    <ul >
                                        <li><a href="#" >eliminar publicacion</a></li>
                                        <li><a href="#" >editar publicacion</a></li>
                                    </ul>
                                
                               </li>
                           </ul> 
                                
                        </div>
                        <samp>fecha</samp>
                        <h3>Titulo</h3>
                        <p>Descripción  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam blanditiis numquam, similique dignissimos suscipit nulla ipsum illum nihil voluptatibus. Quibusdam exercitationem facere accusamus ex dolores. Vero aperiam ipsam saepe nihil!</p>
                        <a class="post-link" href="http://"  rel="noopener noreferrer"><link rel="stylesheet" href=""></a>
                    </div>
                </article>
            </div>
        </section>
        <section class="post-list">
            <div class="content">
                <article class="post">
                    <div>
                        <img class="img-user" src="..\img\user.jpg" alt="">
                        <h3>nom usu</h3>
                    </div>
                    <div class="post-header">
    
                        <div class="post-img">
                        </div>
                    </div>
                    <div class="post-body">
                        <br>
                        <div class="info-menu">
                           <ul>
                               <li><a href="#" ><i class="far fa-heart"></i></a></li>
                               <li><a href="#"><i class="far fa-comment-dots"></i> </a></li>
                               <li>
                                <a href="#" ><i class="fas fa-ellipsis-v"></i></a> 
                                    <ul >
                                        <li><a href="#" >eliminar publicacion</a></li>
                                        <li><a href="#" >editar publicacion</a></li>
                                    </ul>
                                
                               </li>
                           </ul> 
                                
                        </div>
                        <samp>fecha</samp>
                        <h3>Titulo</h3>
                        <p>Descripción  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam blanditiis numquam, similique dignissimos suscipit nulla ipsum illum nihil voluptatibus. Quibusdam exercitationem facere accusamus ex dolores. Vero aperiam ipsam saepe nihil!</p>
                        <a class="post-link" href="http://"  rel="noopener noreferrer"><link rel="stylesheet" href=""></a>
                    </div>
                </article>
            </div>
        </section>
        <section class="post-list">
            <div class="content">
                <article class="post">
                    <div>
                        <img class="img-user" src="..\img\user.jpg" alt="">
                        <h3>nom usu</h3>
                    </div>
                    <div class="post-header">
    
                        <div class="post-img">
                        </div>
                    </div>
                    <div class="post-body">
                        <br>
                        <div class="info-menu">
                           <ul>
                               <li><a href="#" ><i class="far fa-heart"></i></a></li>
                               <li><a href="#"><i class="far fa-comment-dots"></i> </a></li>
                               <li>
                                <a href="#" ><i class="fas fa-ellipsis-v"></i></a> 
                                    <ul >
                                        <li><a href="#" >eliminar publicacion</a></li>
                                        <li><a href="#" >editar publicacion</a></li>
                                    </ul>
                                
                               </li>
                           </ul> 
                                
                        </div>
                        <samp>fecha</samp>
                        <h3>Titulo</h3>
                        <p>Descripción  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam blanditiis numquam, similique dignissimos suscipit nulla ipsum illum nihil voluptatibus. Quibusdam exercitationem facere accusamus ex dolores. Vero aperiam ipsam saepe nihil!</p>
                        <a class="post-link" href="http://"  rel="noopener noreferrer"><link rel="stylesheet" href=""></a>
                    </div>
                </article>
            </div>
        </section>
        


</body>
</html>