<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="..\css\menu.css">
    <link rel="stylesheet" href="..\css\fondo.css"> 
    <link rel="stylesheet" href="..\css\perfil.css">
    <link rel="stylesheet" href="..\css\publication.css"> 
    <script src="https://kit.fontawesome.com/42664e8c9a.js" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../static/menu.js"></script>
</head>
<body class="found">
    <header>
        <div  class="menu_bar">
            <a href="#" class="btn_menu"> <span class="fas fa-ellipsis-v"></span> Menu</a>
        </div>
        <nav>
            <ul class="nav">
                <li><a href="feed.html">Inicio <span class="fas fa-home"></span></a></li>
                <li><a href="userconfiguration.html">Configuración <span class="fas fa-users-cog"></span></a></li>
                <li><a href="profile.html">Perfil <span class="fas fa-user"></span></a></li>
                <li><a href="publication.html">Publicación <span class="far fa-plus-square"></span></a></li>
                <li><a href="#">Mensaje <span class="far fa-comments"></span></a></li>
                <li ><a href="#">Buscar <span class="fas fa-search"></span></a>
                    <ul class="sub_menu">
                        <li><a href="searchperson.html">Usuario</a></li>
                        <br>
                        <li><a href="searchpublication.html">Publicación</a></li>
                    </ul>
                </li>
                <li><a href="#">Cerrar sesión  <span class="fas fa-power-off"></span></a></span></li>
            </ul>
        </nav>
    </header >
    <br>
    <!-- 
        |------------------perfil de usuario---------------------|
     -->
    <section class="perfil-usuario" id="perfil-usu">
        <div class="contenedor-perfil">
            <div class="portada-perfil" >
                <div class="sombra"></div>
                <div class="avatar-perfil">
                    <img src="..\img\user.jpg" alt="imagen usuario">
                    <a href="userconfiguration.html" class="cambiar-foto">
                        <span>Cambiar foto</span>
                    </a>
                </div>
                <div class="datos-perfil">
                    <h4 class="titulo-usuario">Nombre de usuario</h4>
                    <p class="bio-usuario">Lorem ipsum dolor sit, amet consectetur adipisicing.</p>
                </div>
            </div>
            <div class="menu-perfil">
                <ul>
                    <li><a href="#" title=""> # Publicaciones</a></li>
                    <li><a href="#" title=""> # Seguidores</a></li>
                    <li><a href="#" title=""> # Seguidos</a></li>
                    <li><a href="userconfiguration.html">configurar Perfil</a></li>
                </ul>
            </div>
        </div>
    </section>
    <br>

        <!-- 
        ____________________________________________________
        |                  publicacion                      |
        |___________________________________________________|
     -->
        <section class="post-list">
            <div class="content">
                <article class="post">
                    <div>
                        <img class="img-user" src="..\img\user.jpg" alt="">
                        <h3>nom usu</h3>
                    </div>
                    <div class="post-header">
    
                        <div class="post-img">
                        </div>
                    </div>
                    <div class="post-body">
                        <br>
                        <div class="info-menu">
                           <ul>
                               <li><a href="#" ><i class="far fa-heart"></i></a></li>
                               <li><a href="#"><i class="far fa-comment-dots"></i> </a></li>
                               <li>
                                <a href="#" ><i class="fas fa-ellipsis-v"></i></a> 
                                    <ul >
                                        <li><a href="#" >eliminar publicacion</a></li>
                                        <li><a href="#" >editar publicacion</a></li>
                                    </ul>
                                
                               </li>
                           </ul> 
                                
                        </div>
                        <samp>fecha</samp>
                        <h3>Titulo</h3>
                        <p>Descripción  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam blanditiis numquam, similique dignissimos suscipit nulla ipsum illum nihil voluptatibus. Quibusdam exercitationem facere accusamus ex dolores. Vero aperiam ipsam saepe nihil!</p>
                        <a class="post-link" href="http://"  rel="noopener noreferrer"><link rel="stylesheet" href=""></a>
                    </div>
                </article>
            </div>
        </section>
        <section class="post-list">
            <div class="content">
                <article class="post">
                    <div>
                        <img class="img-user" src="..\img\user.jpg" alt="">
                        <h3>nom usu</h3>
                    </div>
                    <div class="post-header">
    
                        <div class="post-img">
                        </div>
                    </div>
                    <div class="post-body">
                        <br>
                        <div class="info-menu">
                           <ul>
                               <li><a href="#" ><i class="far fa-heart"></i></a></li>
                               <li><a href="#"><i class="far fa-comment-dots"></i> </a></li>
                               <li>
                                <a href="#" ><i class="fas fa-ellipsis-v"></i></a> 
                                    <ul >
                                        <li><a href="#" >eliminar publicacion</a></li>
                                        <li><a href="#" >editar publicacion</a></li>
                                    </ul>
                                
                               </li>
                           </ul> 
                                
                        </div>
                        <samp>fecha</samp>
                        <h3>Titulo</h3>
                        <p>Descripción  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam blanditiis numquam, similique dignissimos suscipit nulla ipsum illum nihil voluptatibus. Quibusdam exercitationem facere accusamus ex dolores. Vero aperiam ipsam saepe nihil!</p>
                        <a class="post-link" href="http://"  rel="noopener noreferrer"><link rel="stylesheet" href=""></a>
                    </div>
                </article>
            </div>
        </section>
        <section class="post-list">
            <div class="content">
                <article class="post">
                    <div>
                        <img class="img-user" src="..\img\user.jpg" alt="">
                        <h3>nom usu</h3>
                    </div>
                    <div class="post-header">
    
                        <div class="post-img">
                        </div>
                    </div>
                    <div class="post-body">
                        <br>
                        <div class="info-menu">
                           <ul>
                               <li><a href="#" ><i class="far fa-heart"></i></a></li>
                               <li><a href="#"><i class="far fa-comment-dots"></i> </a></li>
                               <li>
                                <a href="#" ><i class="fas fa-ellipsis-v"></i></a> 
                                    <ul >
                                        <li><a href="#" >eliminar publicacion</a></li>
                                        <li><a href="#" >editar publicacion</a></li>
                                    </ul>
                                
                               </li>
                           </ul> 
                                
                        </div>
                        <samp>fecha</samp>
                        <h3>Titulo</h3>
                        <p>Descripción  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam blanditiis numquam, similique dignissimos suscipit nulla ipsum illum nihil voluptatibus. Quibusdam exercitationem facere accusamus ex dolores. Vero aperiam ipsam saepe nihil!</p>
                        <a class="post-link" href="http://"  rel="noopener noreferrer"><link rel="stylesheet" href=""></a>
                    </div>
                </article>
            </div>
        </section>
        <section class="post-list">
            <div class="content">
                <article class="post">
                    <div>
                        <img class="img-user" src="..\img\user.jpg" alt="">
                        <h3>nom usu</h3>
                    </div>
                    <div class="post-header">
    
                        <div class="post-img">
                        </div>
                    </div>
                    <div class="post-body">
                        <br>
                        <div class="info-menu">
                           <ul>
                               <li><a href="#" ><i class="far fa-heart"></i></a></li>
                               <li><a href="#"><i class="far fa-comment-dots"></i> </a></li>
                               <li>
                                <a href="#" ><i class="fas fa-ellipsis-v"></i></a> 
                                    <ul >
                                        <li><a href="#" >eliminar publicacion</a></li>
                                        <li><a href="#" >editar publicacion</a></li>
                                    </ul>
                                
                               </li>
                           </ul> 
                                
                        </div>
                        <samp>fecha</samp>
                        <h3>Titulo</h3>
                        <p>Descripción  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam blanditiis numquam, similique dignissimos suscipit nulla ipsum illum nihil voluptatibus. Quibusdam exercitationem facere accusamus ex dolores. Vero aperiam ipsam saepe nihil!</p>
                        <a class="post-link" href="http://"  rel="noopener noreferrer"><link rel="stylesheet" href=""></a>
                    </div>
                </article>
            </div>
        </section>
        <section class="post-list">
            <div class="content">
                <article class="post">
                    <div>
                        <img class="img-user" src="..\img\user.jpg" alt="">
                        <h3>nom usu</h3>
                    </div>
                    <div class="post-header">
    
                        <div class="post-img">
                        </div>
                    </div>
                    <div class="post-body">
                        <br>
                        <div class="info-menu">
                           <ul>
                               <li><a href="#" ><i class="far fa-heart"></i></a></li>
                               <li><a href="#"><i class="far fa-comment-dots"></i> </a></li>
                               <li>
                                <a href="#" ><i class="fas fa-ellipsis-v"></i></a> 
                                    <ul >
                                        <li><a href="#" >eliminar publicacion</a></li>
                                        <li><a href="#" >editar publicacion</a></li>
                                    </ul>
                                
                               </li>
                           </ul> 
                                
                        </div>
                        <samp>fecha</samp>
                        <h3>Titulo</h3>
                        <p>Descripción  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam blanditiis numquam, similique dignissimos suscipit nulla ipsum illum nihil voluptatibus. Quibusdam exercitationem facere accusamus ex dolores. Vero aperiam ipsam saepe nihil!</p>
                        <a class="post-link" href="http://"  rel="noopener noreferrer"><link rel="stylesheet" href=""></a>
                    </div>
                </article>
            </div>
        </section>
        


</body>
</html>