<!-- iniciar sesion -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="..\js\bootstrap.js"></script>   
    <link rel="stylesheet" href="..\css\bootstrap.css">
    <link rel="stylesheet" href="..\css\fondo.css">
    <link rel="stylesheet" href="..\css\validacion.css">
    <link rel="stylesheet" href="..\css\RegistrarseLogin.css">
    <title>Iniciar Sesion </title>
</head>
<body class="found" >
    <section>
        <h1 class=" tamano mt-5 container list-group-item list-group-item-info text-center"  >Iniciar Sesión</h1>
        <div class=" tamano mt-5 container list-group-item list-group-item-info text-center" >
            <form action="" method="post"></form>
                <br>
                <div class="input-container">
                    <label class="input-label " for="nameUser">Nombre de Usuario</label>
                    <br>
                    <input class="input" type="text" name="nameUser" id="nameUser" required data-tipo="nombre">
                    <samp class="input-message-error"></samp>
                </div>
                <br>
                <div class="input-container">
                    <label class="input-label "  for="password">Contraseña</label>
                    <br>
                    <input class="input" type="password" name="password" id="password" required data-tipo="nombre">
                    <samp class="input-message-error"></samp>
                </div>
                <br>
                <input type="submit" value="Iniciar sesion" data-tipo="nombre">
                <br>
            </form>
            
        </div>
        <script src="../static/validacion.js"></script>
    </section>
    <br>
    <br>
    <br>
   
</body>
</html>