<!-- iniciar sesion -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="..\js\bootstrap.js"></script>   
    <link rel="stylesheet" href="..\css\bootstrap.css">
    <link rel="stylesheet" href="..\css\fondo.css">
    <title>Iniciar Sesion </title>
</head>
<body class="found" >
    <h1 class=" mt-5 container list-group-item list-group-item-info text-center"  >Iniciar Sesión</h1>
        <div class=" mt-5 container list-group-item list-group-item-info text-center" >
            <form action="" method="post"></form>
                <br>
                <div>
                    <label for="">Nombre de Usuario</label>
                    <br>
                    <input type="text" name="nameUser" id="nameUser">
                </div>
                <br>
                <div>
                    <label for="">Contraseña</label>
                    <br>
                    <input type="password" name="password" id="password">
                </div>
                <br>
                <input type="submit" value="Iniciar sesion">
                <br>
            </form>
            
        </div>
</body>
</html>